@import '../../styles/mixins.scss';

.product {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.product__gallery-wrapper {
  position: relative;
  max-width: 600px;
  margin-top: 17px;
  margin-bottom: 80px;
  margin-right: 55px;
  margin-left: -8px;
}

.product__gallery-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 28px;
  margin: 0;
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--red);
  z-index: 1;
}

.product__details {
  grid-column: 1/-1;
  margin-left: -3px;
}

.product__summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product__name {
  margin: 0;
  margin-left: 2px;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
}

.product__features {
  @include reset-list();
  display: flex;
  flex-wrap: wrap;
  column-gap: 7px;
  max-width: 310px;
  margin-left: 2px;
  margin-top: -1px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--dark-grey);
}

.product__feature {
  min-width: 70px;
  padding-top: 40px;
  background-size: 40px;
  background-position: 50% 0;
  background-repeat: no-repeat;

  &--fuel {
    background-image: url(./gasoline-icon.svg);
    background-size: 53px;
  }
  &--transmission {
    background-image: url(./transmission-icon.svg);
  }
  &--horsepower {
    background-image: url(./horse-icon.svg);
  }
  &--engine {
    background-image: url(./engine-icon.svg);
  }
}

.product__price-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 39px;
}

.product__price-new {
  margin-right: 34px;
  margin-left: 1px;
  font-size: 35px;
  line-height: 48px;
  font-weight: 700;
  word-spacing: 0.5px;
}

.product__price-old {
  position: relative;
  margin-top: 6px;
  font-size: 20px;
  line-height: 24px;
  word-spacing: 2px;
  color: var(--dark-grey);

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    width: 110%;
    top: 46%;
    left: -4px;
    transform: rotate(-5.5deg);
    background-color: var(--dark-grey);
  }
}

.product__order-button {
  margin-bottom: 17px;
  padding: 15px 18px;
  line-height: 18px;
}

.product__credit-button {
  padding: 16px 19px;
}

.product__details {
  margin-bottom: 140px;
}

.tabs__list {
  flex-wrap: wrap;
  margin-bottom: 30px;
  background: 0;
}

.tabs__button {
  @include reset-btn();
  min-width: 195px;
  border: 1px solid var(--grey);
  padding: 10px 19px;
  font-size: 20px;
  line-height: 28px;
  transition:
    border-color .3s ease,
    background-color .3s ease,
    color .3s ease;

  &:hover,
  &:focus,
  &[data-selected] {
    border-color: var(--red);
    background-color: var(--red);
    color: var(--white);
  }

  &:active:not([data-selected]) {
    background-color: var(--dark-red);
  }
}

.product__specifications {
  table {
    display: flex;
    flex-direction: column;
    max-width: 565px;
  }

  td {
    max-width: 360px;
  }

  tr {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding-bottom: 7px;
    border-bottom: 1px solid var(--grey);

    &:not(:first-child) {
      padding-top: 18px;
    }
  }
}

.product__reviews {
  position: relative;

  ul {
    @include reset-list();
  }
}

.product__review {
  margin-bottom: 20px;

  &:nth-child(2) {
    .review__author {
      margin-bottom: 11px;
    }

    .review__advantages {
      margin-bottom: 7px;
    }

    .review__disadvantages {
      padding-left: 23px;
      margin-bottom: 25px;
    }

    .review__comment {
      word-spacing: -0.1px;
    }
  }
}

.product__revew-button {
  position: absolute;
  top: 0;
  right: 0;
}

.product__contacts:not([hidden]) {
  display: flex;

  b {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 22px;
  }

  p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    color: var(--black-text);

    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  a {
    position: relative;
    color: var(--black-text);
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 1px;
      background-color: var(--black-text);
      opacity: 0;
      transition:
        width .3s ease,
        opacity .3s ease;
    }

    &:hover::after,
    &:focus::after {
      width: 100%;
      opacity: 1;
    }

    &:active {
      opacity: .8;
    }
  }

  .product__contacts-title {
    margin-bottom: 7px;

    &--phone {
      margin-bottom: 8px;
    }

    &--mail {
      margin-bottom: 6px;
    }
  }
}

.product__contacts-inner {
  margin-top: -5px;
}

.product__contacts-map {
  flex: 1;
  max-width: 430px;
  margin-left: 103px;
}