@import '../../styles/mixins.scss';

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__list {
  @include reset-list();
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 900px;
  margin-left: auto;
  margin-right: -34px;

  a {
    padding: 30px 34px;
  }
}

.site-nam__logo-link {
  padding-top: 14px;
  align-self: flex-start;
}