:root {
  --black: #000;
  --light-grey: #f5f5f9;
  --grey: #d7d9df;
  --dark-grey: #a3a4a6;
  --red: #d12136;
  --dark-red: #bd0c21;
  --overlay-color: #585757;
  --nav-text-color: #48494d;
  --star-color: #bdbec2;
}