*::before,
*::after {
  box-sizing: border-box;
}

body {
  --font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--white, #fff);
  color: var(--black, #000);
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-family: var(--font-family);
  word-break: break-word;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
