@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-btn {
	display: inline-block;
	padding: 0;
	outline: 0;
	border: 0;
	background: 0;
	font: inherit;
	text-decoration: none;
	cursor: pointer;
}